$left-column: 35%;
$right-column: 65%;
$image-width: $left-column;
$image-height: $image-width * 0.5;
$text-container-height: $image-height * 0.9;
$card-color: rgb(238, 238, 238);
$grey-dark: #8b8b8b;
$grey-light: #f5f5f5;
$primary: #0091ea;
$primary-dark: #0064b7;
$primary-light: #64c1ff;
$secondary: #a7ffeb;
$secondary-light: #dbffff;
$secondary-dark: #75ccb9;
$icon-size: 2em;