<main class="main">
  <div class="content"> 
    <div class="summary">
      <h1>Cameron Hall</h1>
      <h2>Senior Software Engineer</h2>
      <p>
        I am a senior software engineer with extensive experience in development, project management, and leadership within the technology sector. With a proven track record in developing and implementing high-quality software solutions, I have demonstrated expertise in .Net, NodeJS, NoSql, Sql, and event drive design. I have worked in various industries including healthcare, finance, and gaming. 
      </p>
    </div>
    @for(experience of experienceData; track experience) {
      <app-square [data]="experience"></app-square>
    }
    @for(education of educationData; track education) {
      <app-experience [data]="education"></app-experience>
    }

    <div class="links">
      <a href="https://www.linkedin.com/in/cameron-dylan-hall/" alt="LinkedIn">LINKEDIN</a>
      <a href="https://docs.google.com/document/d/1neyBJ7DmLG6ZMXtQ3809E13gvFBu-kIm/edit?usp=sharing&ouid=116671238094025419714&rtpof=true&sd=true">RESUME</a>
    </div>
  </div>
</main>
<router-outlet />
